server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3307/api_spring?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: spring
    password: secret
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB  

app:
  cors:
    allowed-origins: "http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000"
  jwt:
    secret: "supersecreto-superlargo-min32chars-para-hmac"
    expirationSec: 3600
  upload-dir: "./uploads"
